@model IList<DDDEastAnglia.Areas.Admin.Models.NameBadge>

@{
    Layout = null;
}

<html>
    <body>
        @foreach (var badge in Model)
        {
            <img src="@Url.Action("Badge", "NameBadge", new { area = "", id = badge.Id })" />
        }
    </body>
</html>
